doctype html
html(data-dpr="#{dpr}",style="font-size:#{fontSize}px")
    head
        title 
            block base-title
        meta( http-equiv = "content-type" , content = "text/html;charset=utf-8" )
        meta( content="yes" , name="apple-mobile-web-app-capable")
        meta( content="yes" , name="apple-touch-fullscreen")
        meta( content="telephone=no,email=no" , name="format-detection")
        meta( content="fullscreen=yes,preventMove=no" , name="ML-Config" )
        meta( name="viewport" , content="width=device-width, initial-scale=#{pageScale}, maximum-scale=#{pageScale}, minimum-scale=#{pageScale}, user-scalable=no" )
        link( type = "text/css" , rel = "stylesheet" , href = "css/global.css" )
        script( type="text/javascript" , src = "js/global.js" )
        block base-head
    body
        block base-body    
    script( src="js/common.js" )
    block base-scripts